@media (max-width: 800px) {

#wrap {
  width: auto;
}  

#c1 {
  display: none;
  float: none;
  width: auto;
  margin: 0;
}

#c2 {
  padding: 0 10px 0 10px;
  float: none;
  width: auto;
  margin: 0;
}

#c3 {
  display: block;
  float: none;
  width: auto;
  margin: 0;
}

#content img.alignleft {
  float: none;
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: auto;
}

#content img.alignright {
  float: none;
  display: block;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  height: auto;
}

textarea {
  max-width: 95%;
}

.no_mobile {
  display: none !important;
}

#commentform textarea {
  width: 100%;
}

#commentform #submit {
  margin-right: 0 !important;
  margin-top: 10px;
}

}